<h1>Security Groups</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Auth attribute</th>
      <th>Auth value</th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group %></td>
        <td><%= group.auth_attribute %></td>
        <td><%= group.auth_value %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path, :class => 'btn btn-primary' %>
