<h1><%= @organization ? "Posts from #{@organization.name}" : "All The News" %></h1>

<%= render :partial => 'posts', :locals => {:posts => @posts} %>
<br>

<% if @organization && @organization.users.include?(current_user) %>
    <%= link_to 'New Post', new_organization_post_path(@organization), :class => 'btn btn-primary' %>
<% end %>
